.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header_bgc_blue {
  background: #073042;
}

.header__sign-up {
  min-height: 32px;
  background: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.header__sign-in {
  margin-left: 30px;
  background: #2be080;
  border-radius: 3px;
  min-width: 76px;
  min-height: 32px;
  border: none;
  cursor: pointer;
}

.header__saved-films-btn {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  background: transparent;
  border: none;
  cursor: pointer;
}

.header__notlog {
  padding: 0 70px;
  width: auto;
}

.header__menu-btn {
  display: none;
  background: url(../../images/menu-icon.svg) no-repeat;
  width: 44px;
  height: 44px;
  border: none;
  padding: 0;
}

.header__films-btn {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  margin-right: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.header__film-container {
  font-family: 'Inter';
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
}

.header__entry-buttons {
  display: flex;
  justify-content: space-between;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.header__container {
  padding: 18px 70px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__acc-btn {
  background: url(../../images/acc-btnBlack.svg) no-repeat;
  width: 100px;
  height: 30px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.header__acc-btn_blue {
  background: url(../../images/acc-btnBlue.svg) no-repeat;
}

.header__navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

@media (max-width: 768px) {
  .header__notlog {
    padding: 0 30px;
  }
}

@media (max-width: 400px) {
  .header__notlog {
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .header__acc-btn {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__container {
    padding: 18px 30px 0;
  }
}

@media (max-width: 320px) {
  .header__container {
    padding: 18px 14px 0;
  }
}

@media (max-width: 768px) {
  .header__film-container {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__menu-btn {
    display: block;
  }
}
