.header {
  display: flex;
  justify-content: space-between;
  padding: 18px 70px;
  max-height: 74px;
}

.header_bgColorBlue {
  background-color: #073042;
}

.header_smallerPadding {
  padding: 18px 70px 12px;
}

.header__logo-link {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__regContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.header__regContainer-link {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-decoration: none;
}

.header__regContainer-link_login {
  color: rgb(7, 48, 66);
  padding: 8px 20px;
  border-radius: 3px;
  background-color: rgb(61, 220, 132);
}

.header__hamburgerButton {
  background-color: initial;
  border: none;
  width: 44px;
  height: 44px;
  background-image: url('../../images/HamburgerMenu.svg');
  cursor: pointer;
  display: none;
}

.header__popup {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: 100dvh;
  justify-content: space-between;
  max-width: 520px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100dvw;
  z-index: 25;
}
.header__popup::before {
  background-color: rgba(0, 0, 0, 0.08);
  bottom: 0;
  content: '';
  height: 100dvh;
  position: absolute;
  right: 0;
  top: 0;
  width: 100dvw;
  z-index: -1;
}
.header__popup::after {
  background-color: #202020;
  content: '';
  height: 100dvh;
  max-width: 520px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100dvw;
  z-index: -1;
}

@media screen and (max-width: 990px) {
  .header {
    padding: 18px 13px 18px 13px;
  }
  .header_smallerPadding {
    padding: 18px 13px 12px 13px;
  }
}

@media screen and (max-width: 768px) {
  .header__hamburgerButton {
    width: 40px;
    height: 43px;
    display: flex;
  }

  .header__regContainer {
    gap: 14px;
  }

  .header__regContainer-link {
    font-size: 10px;
    line-height: 1.6;
  }

  .header__regContainer-link_login {
    padding: 7px 12px;
  }
}
